@use 'sass:map';

@import '../../styles';

.navbar, .navbar > nav {
  background-color: $background-main;
  width: 100%;
  display: flex;
  align-items: center;
  gap: map.get($spacing, 'xs');
  padding: map.get($spacing, 'sm') map.get($spacing, 'md');
}

.navbar > nav {
  gap: map.get($spacing, 'xxl');
  margin-right: auto;
  padding: 0;
}

.navigation-buttons {
  display: flex;
  gap: map.get($spacing, 'xs');

  & > button {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {

    }
  }
}
