<header class="navbar">
  <div class="navigation-buttons">
    <button><img ngSrc="../../assets/keyboard_arrow_left.svg" width="7" height="12" alt="left" /></button>
    <button><img ngSrc="../../assets/keyboard_arrow_right.svg" width="7" height="12" alt="right" /></button>
  </div>
  <nav>
    <img ngSrc="../../assets/steam_logo.svg" height="20" width="88" alt="Steam logo">
    <app-main-navigation-item [title]="'Store'" [path]="'store'" />
    <app-main-navigation-item [title]="'Community'" [path]="'community'" />
    <app-main-navigation-item [title]="'Username'" [path]="'user'" />
    <app-main-navigation-item [title]="'Library'" [path]="'library'" />
    <app-main-navigation-item [title]="'Downloads'" [path]="'downloads'" />
  </nav>
  <app-badge><app-notifications-popup /></app-badge>
  <app-badge><app-friends-popup /></app-badge>
  <div [style.width]="'400px'"></div>
</header>
