@use 'sass:map';

@import "../../../styles";

.badge {
  padding: map.get($spacing, 'xs') map.get($spacing, 'md');
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $background-highlight;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.dot-badge {
  position: absolute;
  right: -4px;
  top: -4px;
  height: 16px;
  width: 16px;
  background-color: $primary;
  border-radius: 50%;
  font-size: $body-font-size-small;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $background-main;
}

.popup {
  position: fixed;
}
